<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=pie-simple&version=5.4.2&code=PYBwLglsB2AEC8sDeAoWtJgDYFMBcya6GOAHmAQOSBJWoMrygpUaDKCYKMGg-IaB6OoOQGlANEegGcArgCMwZCrEqAHU0B2xoFNzQAl2gLH_AoHaAtZUBgQc0DY_4DfTQC-pgLmUDygEwAGMwGZALnoAWQBDmARkCnpgFpLN2wDYXr3n5YXAAzSUoAYxxocQAnSiIAXz50MGBgLEgQAlRiDFiIAHNCnFiqCHEAWwT0ZKJcEugAExyg4ALo8IA3UsgIgEMsQLzQ8NGa2DrBUogcAQIAbSDcvNhofsr8KQBBCKiBAVgAMVjgapTVsABPEC3KEFnh1dj-pogheakAVgsAUie8k1-mB-osgnkkLAuoMhFszAAOaw8NYbO6AHNVAGUGlEmF1WyChMK2PnsAE4zMj1psqIA9WMANkbYqZ4_HQrCwgjWHzOCmoqiAEkNAEgGDNxq0hLLZsGsXx83KpUkAMcqANwMheDiKLCQQvl8ZXdAE0GgBJ5ZVM5nq2D2LUo2WUQAKBoBzg0NTLVrK29mc0otd0AUwaAcU0GSqALrC9A4SogAAW_QEEE-KzxFWDAGVrrhWkbBOGmsAAO4AIVZZVgzgsgdWAnTWYA8iEQgIcGAABoEIsqvKl15ZgDCGXaVFihRE_QAFEXYMPRwA6L4ASgmeMSKrneQXsD9KESAG4gA
	⚠ 请注意，该图表不是 Apache ECharts 官方示例，而是由用户代码生成的。请注意鉴别其内容。
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
  <!-- Uncomment this line if you want to dataTool extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/extension/dataTool.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use gl extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  -->
  <!-- Uncomment this line if you want to echarts-stat extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use map
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
  -->
  <!-- Uncomment these two lines if you want to use bmap extension
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/extension/bmap.min.js"></script>
  -->

  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    option = {
  title: {
    text: '媒体报道情感属性',
    subtext: '数据来源：清博舆情；时间区间：2023年4月1日-2023年6月1日',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: '50%',
      data: [
        { value: 283, name: '喜悦' },
        { value: 6492, name: '赞扬' },
        { value: 361, name: '愤怒' },
        { value: 356, name: '厌恶' },
        { value: 55, name: '悲伤' },
        { value: 45, name: '恐惧' },
        { value: 416, name: '惊奇' }
      ],
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>